<h1><%= @lesson.clean_name %></h1>


<div class="contribution_form">
   <h3>Add Hints and Tips For This Lesson:</h3>
   <%= render partial: 'contributions/form', locals: {contribution: @contribution, url: lesson_contributions_path(@lesson)} %>
</div>

<br><br>

<h3>Comments:</h3>
<% @lesson.contributions.each do |c| %>
   <p>From: <%= c.user.username if !!c.user %>:</p>
   <p><%= markdown(c.content) if !!c.content %></p>
   <p><%= update_buttons(c) %></p>
   <hr>
<% end %> 