<h1><%= @lesson.clean_name %></h1>


<div class="contribution_form">
   <h3>Add Hints and Tips For This Lesson:</h3>
   <%= form_for @contribution, url: lesson_contributions_path(@lesson) do |f| %>
      <%= md_simple_editor do %>
         <%= f.text_area :content, cols: 45, rows: 15 %>
      <% end %>
      <br>

      <%= f.submit %>
   <% end %>
</div>

<br><br>

<h3>Comments:</h3>
<% @lesson.contributions.each do |c| %>
   <h4><%= c.user.email if !!c.user %></h4>
   <p><%= markdown(c.content) if !!c.content %></p>
   <hr>
<% end %> 