<h1 class="post-title">Lesson: <%= @lesson.clean_name %></h1>


<%= link_to "Edit this Lesson", edit_lesson_path(@lesson), class: "pure-button button-warning" if @lesson.creator_is?(current_user) %>



<h4 class="content-subhead">Add Hints and Tips For This Lesson</h4>
<section class="post">
   <%= render partial: 'contributions/form', locals: {contribution: @contribution, url: lesson_contributions_path(@lesson)} %>
</section>


<br><br>

<h2 class="content-subhead">Comments:</h2>
<% @lesson.contributions.each do |c| %>
   <section class="post">
      <header class="post-header">
         <h2 class="post-title">From <%= display_user(c)%><h2>
      </header>
      <div class="post-description trix-content"><%= sanitize c.content %></div>
      <p><%= update_buttons(c) %></p>
   </section>
<% end %> 
