<h1>Lesson: <%= @lesson.clean_name %></h1>


<%= link_to "Edit this Lesson", edit_lesson_path(@lesson) if @lesson.creator_is?(current_user) %>


<div class="contribution_form">
   <h3>Add Hints and Tips For This Lesson</h3>
   <%= render partial: 'contributions/form', locals: {contribution: @contribution, url: lesson_contributions_path(@lesson)} %>
</div>

<br><br>

<h3>Comments:</h3>
<% @lesson.contributions.each do |c| %>
   <section class="post">
      <header class="post-header">
         From <%= c.user.username if !!c.user %>:
      </header>
      <div class="trix-content"><%= sanitize c.content %></div>
      <p><%= update_buttons(c) %></p>
      <hr>
   </section>
<% end %> 
