<nav class="nav">
   <ul class="nav-list">
      <li class="nav-item">
         <%= link_to "All Lessons", lessons_path, class: "pure-button" %>
      </li>
   </ul>
   <br><br>

   <ul class="nav-list">
      <li class="nav-item">
         <%= link_to '<i class="fas fa-user-circle"></i> My Account'.html_safe, edit_user_registration_path, class: "pure-button" if user_signed_in? %>
      </li>
   </ul>

   <ul class="nav-list">
      <li class="nav-item">
         <%= link_to '<i class="fas fa-user-plus"></i> Sign Up'.html_safe, new_user_registration_path, class: "pure-button" unless user_signed_in? %>
      </li>
      <li class="nav-item">
         <%= auth_buttons %>
      </li>
   </ul>

   <br>

   <ul class="nav-list">
      <li class="nav-item">
         <%= link_to "Report Issues", url: "https://github.com/BebopVinh/learn-collective/issues", class: "pure-button button-xsmall" %>
      </li>
   </ul>

</nav>