<!DOCTYPE html>
<html>
  <head>
    <title>LearnCollective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# PureCSS %>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

    <%# Font-Awesome for Button-Icon %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'buttons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="trix.css">
    <script type="text/javascript" src="trix.js"></script>
  </head>

  <body id="yui_3_18_1_1_1558162381059_11">
    <div class="pure-g" id="layout">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <h1 class="brand-title">Learn-Collective</h1>
          <h2 class="brand-tagline">From Flatiron Students</h2>

        <%= render 'layouts/nav' %>

        </div>
        </div>

      <div class="content pure-u-1 pure-u-md-3-4">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>  
    </div>
  </body>
</html>
